/* GENERAL */

html, body {
    width: 100%;
    font-size: 16px;
    font-family: 'Sora', sans-serif;
}

/* HEADER */

header {
    width: 100%;
    position: relative;
}

#headerFlexContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
}

#logo {
    aspect-ratio: auto 255 / 177;
    width: 125px;
}

#navButtonContainer button {
    border: none;
    background-color: transparent;
    padding: 0;
}

#navButtonContainer svg {
    width: 22px;
    height: 22px;
}

#navButtonContainer path {
    fill: #33373d;
}

#navToggleOpen {
    display: block;
}

#navToggleClose {
    display: none;
}

#dropdownMenu {
    width: 100%;
    background-color: rgb(243, 243, 243);
    border-radius: 10px;
    position: absolute;
    top: 120px;
    max-height: 0px;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 300ms, max-height 300ms;
}

#dropdownMenu.open {
    max-height: 100vh;
    transform: scaleY(1);
}

#dropdownMenu ul {
    padding: 0;
}

#dropdownMenu li {
    list-style: none;
}

#dropdownMenu a {
    text-decoration: none;
    font-size: 15px;
    font-weight: 700;
    color: rgb(51, 55, 61);
    padding: 25px 35px 25px 35px;
    display: block;
}

#dropdownMenu a.active {
    color: rgb(209, 9, 15);
}

/* MAIN */

main {
    width: 100%;
}

#banner {
    width: 100%;
    background-image: url(https://swissalbaniannetwork.ch/wp-content/uploads/2025/06/dabed64ba8917425b33c1d3d984997c336daaec4.gif);
    background-size: cover;
    height: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#banner img {
    width: 90.625%;
    border-radius: 15px;
    aspect-ratio: 2560 / 1706;
}

#bannerText {
    width: 90.625%;
    height: 36.38%;
    color: white;
    display: flex;
    flex-direction: column;   
    justify-content: space-between;
}

h1 {
    font-size: 25px;
    line-height: 25px;
    font-weight: 700;
}

#dateLocation {
    padding: 15px;
}

#bannerText div span{
    font-size: 18px;
    line-height: 27px;
    display: block;
}

#bannerText span{
    font-size: 15px;
}

#bannerText button {
    width: 90.625%;
    background-color: transparent;
    border: 2px solid rgb(227, 227, 227);
    border-radius: 50px;
    padding: 20px 45px 20px 45px;
    line-height: 15px;
    margin: 0 auto;
}

#bannerText button a {
    color: rgb(227, 227, 227);
    font-size: 15px;
    text-decoration: none;
    font-weight: 500;
}