/* GENERAL */

html, body {
    width: 100%;
    font-size: 16px;
    font-family: 'Sora', sans-serif;
}

/* HEADER */

header {
    width: 100%;
    position: relative;
}

#headerFlexContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 10px 25px 25px;
}

#logo {
    aspect-ratio: auto 255 / 177;
    width: 125px;
}

#navButtonContainer button {
    border: none;
    background-color: transparent;
    padding: 0;
}

#navButtonContainer svg {
    width: 22px;
    height: 22px;
}

#navButtonContainer path {
    fill: #33373d;
}

#navToggleOpen {
    display: block;
}

#navToggleClose {
    display: none;
}

#dropdownMenu {
    width: 100%;
    background-color: rgb(243, 243, 243);
    border-radius: 10px;
    position: absolute;
    top: 120px;
    display: none;
    animation-name: dropdown;
    animation-duration: 5s;
}

#dropdownMenu ul {
    padding: 0;
}

#dropdownMenu li {
    list-style: none;
}

#dropdownMenu a {
    text-decoration: none;
    font-size: 15px;
    font-weight: 700;
    color: rgb(51, 55, 61);
    padding: 25px 35px 25px 35px;
    display: block;
}
/* WORKING ON ANIMATION DOWN HERE FOR DROPDOWN MENU */
@keyframes dropdown {
    0% {
        display: none;
        transform: translateY(50px);
    }
    100% {
        display: block;
        transform: translateY(0);
    }
}

/* MAIN */

main {
    width: 100%;
}

#movingBackground {
    width: 100%;
    background-image: url(https://swissalbaniannetwork.ch/wp-content/uploads/2025/06/dabed64ba8917425b33c1d3d984997c336daaec4.gif);
    background-size: cover;
    height: 900px;
}